@charset "UTF-8";

body {
    background-color: rgb(191, 223, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

h1#principal{
    text-align: center;
    background-color: rgb(25, 36, 88);
    color: white;
}

h1 {
    color: rgb(2, 43, 78);
}

h2 {
    color: rgb(7, 91, 165);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(255, 0, 0, 0.295);
}